
build/spellbookrando/base_library.zip

__pycache__/spellbookrando.cpython-38.pyc

build/spellbookrando/Analysis-00.toc

build/spellbookrando/EXE-00.toc

build/spellbookrando/PKG-00.pkg

build/spellbookrando/PKG-00.toc

build/spellbookrando/PYZ-00.pyz

build/spellbookrando/PYZ-00.toc

build/spellbookrando/Tree-00.toc

build/spellbookrando/Tree-01.toc

build/spellbookrando/warn-spellbookrando.txt

build/spellbookrando/spellbookrando.exe.manifest

build/spellbookrando/xref-spellbookrando.html

.gitignore

spellbookrando.spec

spellbookrando/LICENSE

spellbookrando.zip

spellbookrando/spellbookrando.exe

spellbookrando/spells.csv

spellbookrando/readme.txt
